<div class="screen__content screen__first-page" id="content">

	<div class="bg__stars container"></div>
	<div class="bg__clouds container"></div>
	<div class="bg__card bg__card-middle container"></div>
	<div class="bg__card bg__card-left container"></div>
	<div class="bg__card bg__card-right container"></div>

	<div class="screen__title">
		<h1 class="screen__title-text slide__title">Сходи в кино за счет Рокетбанка</h1>
		<button class="screen__button button__yellow scale__button-one button history" href="2.html">Хочу в кино!</button>
	</div>
</div>