<div class="screen__content screen__third-page" id="content">
	<div class="screen__left-column">
		<div class="bg__container">
			<div class="bg__city"></div>
			<div class="bg__phone"></div>
			<div class="bg__card bg__card-small container"></div>
		</div>

	</div>
	<div class="screen__right-column">
		<div class="screen__right-column-title">
			<h3 class="screen__title-text">Нет причин не попробовать</h3>
			<ul class="screen__title-list">
				<li class="screen__list-item">&mdash;&nbsp;Бесплатное обслуживание</li>
				<li class="screen__list-item">&mdash;&nbsp;1 до 10% кешбэк за все покупки</li>
				<li class="screen__list-item">&mdash;&nbsp;8% годовых на остаток
				</li>
			</ul>
			<p class="screen__paragraph"><a href="#" class="yellow__link">Подробнее</a> о тарифе</p>
			<div class="button__container">
				<button class="button__order button__yellow button">Заказать карту</button>
			</div>
		</div>
	</div>
</div>