.bg {

  &__white-noize {
    background-image: url("../images/gif/noize.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $bg__blue-light;
      opacity: .99;
    }
  }

  &__chairs {
    width: 100%;
    height: 100%;
    background-image: url("../images/png/chairs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;

    &-disclamer {
      width: 100%;
      height: 100%;
      background-image: url("../images/png/disclamer.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
    }
  }

  &__clouds {
    position: absolute;
    left: 0; right: 0;
    bottom: -100px;
    width: 100%;
    height: 233px;
    background-image: url("../images/png/clouds.png");
    background-size: 110%;
    background-position: left -37px bottom -10px;
    background-repeat: no-repeat;
  }

  &__stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 550px;
    height: 550px;
    background-image: url("../images/png/stars.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    opacity: .2;
  }

  &__card {
    position: absolute;
    left: 15%;
    bottom: -40%;
    margin: auto;
    width: 547px;
    height: 345px;
    background-image: url("../images/png/rocket-card.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    transform: rotate(-45deg);

    &-left {
      left: 39%;
      bottom: -64%;
    }

    &-middle {

    }

    &-right {
      left: 5px;
      bottom: -55%;
    }

    &-small {
      left: -80px;
      bottom: -67px;
      width: 402px;
      height: 253px;
      background-size: 100%;
    }
  }

  &__ticket {
    position: absolute;
    bottom: -140px;
    margin: auto;
    width: 167px;
    height: 362px;
    background-image: url("../images/png/ticket.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;

    &-first {
      opacity: .9;
      transform: rotate(50deg);
      left: 70px;
    }

    &-second {
      opacity: 1;
      transform: rotate(33deg);
      left: 30px;
    }
  }

  &__container {
    position: absolute;
    width: 346px;
    height: 100%;
    bottom: -79px;
    right: 41px;
  }

  &__phone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url("../images/png/iphone.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: transparent;
  }

  &__city {
    position: absolute;
    width: 311px;
    height: 207px;
    top: 76px;
    left: 18;
    margin: auto;
    background-image: url("../images/jpg/city__bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: transparent;
  }
}