.screen {
  @include flex;
  @include flex__full-center;
  width: 100%;
  height: 100%;
  position: relative;

  &__first-page {}

  &__second-page {
    padding: 110px 90px;

    .screen__title {
      top:0;
      height: auto;
      position: relative;
    }
  }
  &__third-page {}
  &__fourth-page {
    background-color: $violet !important;
    background-image: url("../images/svg/margo__robbie.svg");
    background-size: 393px;
    background-repeat: no-repeat;
    background-position: bottom -3px left 183px;
  }

  &__wrapper {
    @include flex;
    @include flex__full-center;
    position: relative;
    padding: 60px;
    width: 100%;
    height: 100%;
    min-width: 1024px;

    @media screen and (max-height: 800px) {
      padding: 30px 60px;
      align-items: flex-start;
    }
  }

  &__container {
    background-color: $bg__blue-light;
    width: 984px;
    height: 632px;
    border-bottom: none;
    border-radius: 30px;
    /*box-shadow: $shadow__glow-blue;*/
  }

  &__content {
    position: absolute;
    border-radius: 20px;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg__blue-light;
    opacity: .98;
    overflow: hidden;

    &-row {
      position: relative;
      width: 100%;
      min-height: 180px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: 40px;
    }

    &-column {
      position: relative;
      width: 251px;

      .film-sticker__svg-wrap {
        width: 130px;
        height: 70px;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }

        & > svg {
          fill: $white;
          width: 90px;
          margin-bottom: -8px;
        }
      }
    }
  }

  &__logo {

    &-container {
      position: relative;
      left: 40px; top: 40px;
      display: inline-block;
    }

    &-link {
      display: block;
    }

    &-image:hover {
      opacity: .85;
      transition: all ease .1s;
    }
  }

  &__left-column, &__right-column {
    position: absolute;
    height: 100%;
    top: 0;
  }

  &__left-column {
    left: 0;
    width: 55%;
  }

  &__right-column {
    right: 0;
    width: 45%;
    padding: 143px 28px;

    &-title {

    }
  }


  &__content-container {
  }

  &__title {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 100%;
    max-width: 635px;
    height: 220px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    &-list {
      margin-top: 20px;
    }

    .button__yellow {
      bottom: -60px;
      left: 0; right: 0;
      margin: auto;
    }

    &-date {
      color: $purple;
      margin-top: 16px;
      @extend %bold;
      font-size: 20px;
    }
  }

  &__paragraph {
    margin-top: 12px;

    &.tiny {
      font-size: 13px;
      width: 248px;
    }
  }

  &__list-item {
    @extend %bold;
    margin-bottom: 14px;
    color: $white;
    font-size: 18px;
  }

  &__col {
    width: 50%;

    &:first-child {
      padding: 193px 63px 0 93px;
    }

    &:nth-child(2) {
      padding: 53px 80px 0 8px;
    }
  }

  &__information {
    position: relative;
    display: block;
  }

  &__partners {
    margin-top: 40px;

    &-header {
      @extend %regular;
      font-size: 18px;
      color: $white;
      opacity: .7;
    }
  }

  &__back-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 26px;
    margin: auto;
    width: 15px;
    height: 26px;
    background-image: url("../images/png/arrow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-color: transparent;
    cursor: pointer;
  }
}

.chairs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;

  &__container {
    position: absolute;
    left: 0; right: 0;
    top: 10px;
    bottom: -15px;
    width: 100%;
    max-width: 1200px;
    height: 120px;
    margin: 0 auto;
  }

  &__disclamer {
    width: 100%;
    max-width: 690px;
    height: 36px;
    bottom: -34px;
    margin: auto;
    opacity: .15;
  }
}

.conditions {
  position: absolute;
  right: 20px;
  bottom: 20px;


  &__link {
    display: block;
    position: relative;
    padding-bottom: 4px;
    color: rgba(255, 255, 255, .6);
    font-size: 16px;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, .6);
    }

    &:hover {
      color: rgba(255, 255, 255, .5);

      &:after {
        display: none;
      }
    }

    &-yellow {
      color: $yellow;
    }
  }
}

.film-sticker {

  &__container {
    position: absolute;
    right: -20px;
    top: 353px;
    width: 204px;
    height: 204px;
    border-radius: 100%;
    background-color: $violet;
    z-index: 100;
    overflow: hidden;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2px auto;
    z-index: 3;

    &:hover + .film-sticker__blot {
      opacity: .8;
    }
  }

  &__sign {
    width: 100%;
    color: $purple;
    @extend %bold;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0 auto;
    top: -10px;
    margin-bottom: 2px;
    position: relative;
  }

  &__svg-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 130px;
    height: auto;

    & > svg {
      width: 125px;
      height: auto;
    }
  }

  &__blot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-image: url("../images/png/blot.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}
.svg {

  &__inline-wrap {
    text-align: justify;
    vertical-align: top;
    margin-top: 16px;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    .clique {
      width: 80px;
      height: 27px;
    }

    .cinemaholics {
      width: 190px;
      height: 18px;
    }
  }
}

.sign {
  display: inline-block;
  color: rgba(255, 255, 255, 0.498039);
  font-size: 13px;
  width: 145px;
  padding: 10px 0;
  vertical-align: middle;
  margin-left: 20px;
}

.open-logo {
  position: absolute;
  top: 0;
  width: 55px;
  height: 91px;
  right: 60px;
  background-color: #00B3E3;
  transition: all ease .2s;

  &:hover {
    opacity: .8;
  }

  & > svg {
    fill: $white;
    width: 100%;
    height: auto;

    .st0{fill:#00B3E3;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#EDECEC;}
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .film-sticker__sign {
    top: 20px !important;
  }
}