.screen {
  @include flex;
  @include flex__full-center;
  width: 100%;
  height: 100%;

  &__first-page {}

  &__second-page {

    .screen__title {
      top:0;
      height: auto;
      position: relative;
    }
  }
  &__third-page {}

  &__wrapper {
    position: relative;
    padding: 60px;
    width: 1104px;
    height: 752px;
  }

  &__container {
    background-color: $bg__blue-light;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: $shadow__glow-blue;
    overflow: hidden;
    border: 1px solid #0c79bd;
    border-bottom: none;
  }

  &__content {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 120px 100px;

    &-row {
      position: relative;
      width: 100%;
      min-height: 180px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: 40px;
    }

    &-column {
      position: relative;
      width: 240px;

      .film-sticker__svg-wrap {
        width: 130px;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }

        & > svg {
          fill: $white;
          width: 90px;
        }
      }
    }
  }

  &__logo {

    &-container {
      position: relative;
      left: 40px; top: 40px;
      display: inline-block;
    }

    &-link {
      display: block;
    }

    &-image:hover {
      opacity: .85;
      transition: all ease .1s;
    }
  }

  &__left-column, &__right-column {
    position: absolute;
    height: 100%;
    top: 0;
  }

  &__left-column {
    left: 0;
    width: 55%;
  }

  &__right-column {
    right: 0;
    width: 45%;
    padding: 143px 28px;

    &-title {

    }
  }


  &__content-container {
  }

  &__title {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 100%;
    max-width: 635px;
    height: 220px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    &-list {
      margin-top: 20px;
    }

    .button__yellow {
      bottom: -60px;
    }
  }

  &__paragraph {
    margin-top: 20px;
  }

  &__list-item {
    @extend %bold;
    margin-bottom: 14px;
    color: $white;
    font-size: 18px;
  }
}

.chairs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;

  &__container {
    position: absolute;
    left: 0; right: 0;
    top: 0;
    bottom: -15px;
    width: 100%;
    max-width: 1200px;
    height: 120px;
    margin: 0 auto;
  }

  &__disclamer {
    width: 100%;
    max-width: 690px;
    height: 36px;
    bottom: -42px;
    margin: auto;
    opacity: .15;
  }
}

.conditions {
  position: absolute;
  right: 20px;
  bottom: 20px;


  &__link {
    display: block;
    position: relative;
    padding-bottom: 4px;
    color: rgba(255, 255, 255, .6);
    font-size: 16px;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, .6);
    }

    &:hover {
      color: rgba(255, 255, 255, .5);

      &:after {
        display: none;
      }
    }
  }
}

.film-sticker {

  &__container {
    position: absolute;
    right: 40px;
    bottom: 18%;
    width: 204px;
    height: 204px;
    overflow: hidden;
    border-radius: 100%;
    background-color: $violet;
  }

  &__link {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2px auto;
    z-index: 3;

    &:hover + .film-sticker__blot {
      opacity: .8;
    }
  }

  &__sign {
    color: $purple;
    @extend %bold;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0 auto;
    top: -10px;
    margin-bottom: 2px;
    position: relative;
  }

  &__svg-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 130px;
    height: auto;

    & > svg {
      width: 125px;
      height: auto;
    }
  }

  &__blot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    transform: rotate(45deg);
    background-image: url("../images/png/blot.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}

