html, body {
  width: 100%;
  height: 100%;
  background-color: $bg__blue;
  overflow: hidden;
  @extend %regular;
}
* {
  -webkit-font-smoothing: antialiased !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  /*-webkit-font-smoothing: subpixel-antialiased !important;*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

  &:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    background: url("../images/svg/margo__robbie.svg");

    /*preload image CHTOB NE MIGALO*/
  }
}

h1 {
  font-size: 78px;
  line-height: 78px;
  color: $white;
  @extend %black;
  text-align: center;
}

h2 {
  font-size: 39px;
  line-height: 39px;
  color: $white;
  @extend %regular;
  text-align: center;
}
h3 {
  font-size: 39px;
  line-height: 39px;
  color: $white;
  @extend %black;
  text-align: left;
}


p {
  color: $white;
  font-size: 18px;
  @extend %regular;
  line-height: 1.4;
}

.image {
  max-width: 100%;
  height: auto;
}

.yellow__link {
  display: inline-block;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  font-size: 17px;
  color: $yellow;
  text-shadow: 0 0 1px $white;

  &:hover {
    color: $white;

    &:before {
      background-color: $white;
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    background-color: $yellow;
  }

  &-holder {
    text-align: center;
    margin: 20px 0;
  }
}

.flex {
  display: flex;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__column {
    display: flex;
    flex-direction: column;

    &-end {
      align-items: flex-end;
    }
  }


  &__wrap {
    flex-wrap: wrap;
  }

  &__flip {
    justify-content: flex-end;
  }

  &__space-between {
    justify-content: space-between;
  }
}